body {
    background-color: lightblue;
}
div {
    font-size: 20px;
}
h2 {
    color: white;
    text-decoration: underline;
}

p {
    color: navy;
    font-weight: bold;
}

p:first-of-type {
    text-transform: uppercase;
    text-align: justify;
  }
p:nth-of-type(2) {
    font-size: 12px;
}
